__pycache__/
*.pyc
*.pyo
*.egg-info
.vscode/
output.html
stooq.html
.env
log/
.specstory/history/
pandas-ta/
price_csv/
*prompt.txt
report/
.cursorrules
.tachibana_credentials
docker-compose.yml
Dockerfile
refresh_views.bat